tenacity >= 4.4.0
pandas >= 0.20.2
six >= 1.10.0
slackclient >= 1.0.6
webscrapetools == 0.4.0
beautifulsoup4 >= 4.6.0
google-api-python-client == 1.6.2
httplib2 == 0.10.3
oauth2client == 4.1.2
lxml >= 3.8.0
pygsheets >= 1.1.2
